*{
  margin: 0;
}

body {
  font-family: 'Poppins';
}

nav{
  display: flex;
  justify-content: start;
  padding: 30px 22px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

main{
  margin-top: 25px;
  text-align: center;
}

.hero-image{
  margin: auto;
}

.hero-text{
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-top: 32px;
  max-width: 420px;
  padding-left: 36px;
}

.hero-heading{
  margin-bottom: 16px;
}

.cards{
  padding-left: 40px;
  margin-top: 50px;
  display: flex;
  gap: 40px;
  margin-bottom: 60px;
}

.card{
  position: relative;
  display: inline-flex;
  flex-direction: column;
  text-align: left;
}

.card-image{
  width: 176px;
}

.rating{
  display: flex;
  gap: 2px;
  margin-top: 10px;
}

.card-label{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.rating-text{
  font-size: 18px;
  color: #918E9B;
}

.card-span{
  color: #212221;
}

.card-heading{
  font-size: 12px;
  font-weight: 300;
  color: #212221;
}

.card-p{
  font-size: 12px;
  font-weight: 600;
  color: #212221;
}

.card-span2{
  font-weight: 300;
}

.sold-out{
  background-color: white;
  display: inline-block;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  top: 6px;
  left: 6px;
}

.sold-out p{
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
}